<h1>Street_Meatz</h1>

<body>
<p>Street_Meatz is your go-to site for finding delicious street food in your area.</p>

<p>Hungry? Find a new street vendor -- or, if you've got one in mind already, tell us more about that vendor so that others may share in the experience.</p>

<p>Find. Add. Review. It's as simple as that.</p>

<p>put three boxes here: find, add, review</p>

<%= gmaps4rails(@json) %>
</body>