<% if current_user.present? %>

<div class="front_page">
<div class="container">
<div class="hero-unit">
<h1>Welcome to Streetside_Bites</h1><br>

<p>Hungry? Find the best street vendors in your area -- or, if you've got one in mind already, tell us more about that vendor so that others may share in the experience.</p>

<p>Find. Review. It's as simple as that.</p>

<p>To get started, enter your location.</p>

<%= form_tag vendors_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Go!", :name => nil %>
  </p>
<% end %>

</div>
</div>
</div>

<% else %>



<% end %>

