.nonmap {
    background: url(thai.jpg) no-repeat center center fixed;
    background-size: cover;
}

/*For the textbox on the vendor show page*/
.textbox {
  background-color: #eeeeee;
  position: float;
  width: 100%;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.tallbox {
  background-color:rgba(30,30,30,0.3);
  min-height: 700px;
  text-shadow: 1px 1px #000000;
  color: white;
}

.tallbox a{
  color: white;
}

/*For the tabele on the vendor show page*/
table {
  max-width: 100%;
}

/*For the welcome index page*/
.image_container {
    /*display: block;*/
    width: auto;
   /* position: absolute;
    top: 0;
    left: 0;*/
    background: url(cover2.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 1000px;
 /*   opacity: 0.3;*/
}

.landing {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.text_area {
  padding: 60px;
  margin-bottom: 30px;
  text-shadow: 1px 1px #000000;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: white;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.text_area h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.text_area li {
  line-height: 30px;
}

.error {
  font-weight: 700;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}

.alert {
  margin-bottom: 0px;
}

.alert,
.alert h4 {
  color: black;
}

/*for forms*/
label {
  /*display: block;*/
  margin-left: 10px;
  margin-bottom: 5px;
}